@media only screen and (min-width: 640px){
    .sidebarr{
        display: none;
    }
    .mainnav{
        display: none;
    }
}
@media only screen and (max-width: 620px){
    body{
        position: relative;
        overflow: hidden;
        font-size: 16px;
    }
    .mainnav{
        width: auto;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
        padding: 3px;
        border-top: solid 4px #ef8236;
    }
    .sidebarr{
        display: block;
        position: relative;
        margin: 3px;
    }
    .bars{
        display: flex;
        /* line-height: 4.5; */
        width: 20px;
        cursor: pointer;
        padding: 0%;
        margin: 11px;
    }
    .navb{
        position: fixed;
        width: 150px;
        height: auto;
        box-sizing: border-box;
        margin: 0% 2px;
        /* padding: 10px 0; */
        box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
        z-index: 2;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transition: opacity 0s 0.25s;
        -moz-transition: opacity 0s 0.25s;
        -webkit-transition: opacity 0s 0.25s;
        background: white;
    }
    .nav-link{
        text-decoration: none;
        font-size: small;
        color: #3a3a3a;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 4px;
        transition: 0.2s;
    }
    .nav-link:hover{
        color: black;
    }
    .active{
        font-weight: bolder;
        color: black;
        background-color: rgb(225, 225, 225);
        border-right: solid 3px #ef8236;
    }
    .mainnav2{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* padding: 2px; */
        margin-left: 3px;
        margin-right: 0px;
    }
    .navbarr{
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 0px;
    }
    .scale1{
        display: flex;
        width: 35%;
        flex-direction: row;
        padding: 0px;
        align-items: center;
        justify-content: space-evenly;
    }
    .scale2{
        display: flex;
        width: 65%;
        align-items: center;
        flex-direction: row;
        padding: 1px;
        margin-left: 8px;
        justify-content: space-evenly;
    }
    .logo{
        margin-left: 2px;
    }
    .search{
        width: 28px;
    }
    .nalink ,.naitm{
        margin: 0 3px;
        text-decoration: none;
        font-size: small;
        font-weight: 500;
        transition: 0.2s;
        color: rgb(69, 69, 69);
    }
    .nabtn{
        cursor: pointer;
        border-radius: 20px;
        padding: 8px 20px;
    }
    .nabtn:hover{
        background-color: rgb(226, 226, 226);
    }
    .nalink{
        padding: 7px 10px;
        border: solid 1px blue;
        border-radius: 3px;
        margin: 0px;
        background-color: #e7f8fe;
    }
    .nalink:hover{
        background-color: #d3e4eb;
    }
}